# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
node_modules/.package-lock.json
yarn.lock

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.p*

# Misc
# *.local
*.cache
*.tmp

razorpay/

# Ignore backend/api/node_modules from root as well
backend/api/node_modules/ 